*{
    padding: 0 0;
    margin: 0 0;
}


body{
    
    background-color: rgb(1, 1, 12);
}
form{
    
    margin-left: 30em;
    margin-top:5em;
    line-height: 35px;
     font-family: sans-serif;
    color:white;
    }
.fullname{
    display: flex;
    flex-direction: column;
    width: 250px;
}
input [type ="radio"] {
    padding-top:300px;
}

textarea{
    height:70px;
     width: 320px;
}
input#submit{
    background-color:teal;
    opacity: 0.6px;
    margin-left: 100px;
    height: 30px;
    width:70px;
    border-radius:5px;
    border: none;
    font-family:monospace;
    font-size:15px;
    text-align:center;
    color:white;
}